h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 40px;
    line-height: 0.3;
    text-transform: capitalize;

}
h3{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; /* Thêm 'px' */
    text-transform: capitalize;
    font-weight: normal;
    text-align: justify;
    
    
}
h4{
     
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; /* Thêm 'px' */
    text-transform: capitalize;
    font-weight: normal;
    text-align: justify;  
    line-height: 0.5;  
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; /* Thêm 'px' */
    text-transform: capitalize;
    border-bottom: 5px solid rgb(17, 17, 17);
    text-align: justify; 
    
}
h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; /* Thêm 'px' */
    text-transform: capitalize;   
    text-align: justify;  
    line-height: 0.5;
}
h6{
    float: left;/*dồn các p với nhau*/
    padding: 0px;/*giản 2 P ra khi dồn vào*/
}
h8{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; /* Thêm 'px' */
    text-transform: capitalize;
    font-weight: normal;
    text-align: justify;
}
p{
    color : #6c706c;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; /* Thêm 'px' */
    text-transform: capitalize;
    font-weight: normal;
    text-align: justify;
}


li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; /* Thêm 'px' */
    text-transform: capitalize;
    font-weight: normal;
    text-align: justify;
    line-height: 1.5;
    
}
