.container1{
   width: 1200px;
    background-color: aquamarine;
    float: left;
    margin-top: 200px;
    margin-left: 200px;
    height: 700px;
    display: flex; /* Kích hoạt Flexbox */
    flex-direction: column; /* Sắp xếp các phần tử theo cột */
    align-items: center; /* Căn giữa theo chiều ngang */
    height: 100%; /* Đảm bảo chiều cao đủ để căn giữa theo chiều dọc */
    padding-bottom: 100px;

}