.container {
    display: flex;/*Tùy chỉnh các phần tự trong thẻ*/
    flex-direction: column;/*Sắp đặt các phần tự trong thẻ ở dạng cột*/
    align-items: center; /* Căn giữa theo chiều ngang */
}

.top-row {
    display: flex;
    justify-content: space-between; /* Căn các cột trong hàng đầu tiên */
    width: 100%; /* Độ rộng tối đa */
    max-width: 800px; /* Giới hạn độ rộng */
    margin-bottom: 20px; /* Khoảng cách dưới */
   
}

.column {
    width: 400px; /* Độ rộng của mỗi cột */
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border: 1px solid red;
    background-color: bisque;
    border-radius: 10px;
    transition: all 300ms;
   padding-left: 100px;
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước của cột */
}

.career {
    width: 760px; /* Độ rộng tối đa */
    /* Giới hạn độ rộng */
    display: inline-block;
    vertical-align: top;
    text-align: left; /* Căn trái nội dung */
    padding: 20px;
    border: 1px solid red;
    background-color: bisque;
    border-radius: 10px;
}

img {
    max-width: 100%;
}

h4, h5, p, h2 {
    font-size: 16px;
    text-align: justify;
    margin: 0;
    padding-left: 10px;
}

h4 {
    font-size: 18px;
    line-height: 1.2;
}

h5 {
    font-size: 16px;
    padding-left: 35px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: brown;
    color: black;
    text-align: center;
}

p {
    font-family: 'Times New Roman';
    text-transform: none;
    text-align: justify;
}
#Khanh1{
    width: 760px; /* Độ rộng tối đa */
    /* Giới hạn độ rộng */
    display: inline-block;
    vertical-align: top;
    text-align: left; /* Căn trái nội dung */
    padding: 20px;
    border: none;
    background-color: white;
    border-radius: 10px;
}
#Khanh2{
    width: 820px; /* Độ rộng tối đa */
    /* Giới hạn độ rộng */
    display: inline-block;
    vertical-align: top;
    text-align: left; /* Căn trái nội dung */
    padding: 20px;
    border: none;
    background-color: white;
    border-radius: 10px;
}