h1{
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
    text-align :center;
   
    text-transform:capitalize;/*uppercase ,lowercase, capitalize, none*/
    border-bottom: 5px solid rgb(19, 18, 18);/* 1px solid: duong lien  */
   
}
h2{
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman';  
    font-weight: normal;   
    line-height: 0.9; 
}
h5{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman';
    font-weight: bold;   
    text-transform:capitalize;/*uppercase ,lowercase, capitalize, none*/
    border-bottom: 5px solid rgb(19, 18, 18);/* 1px solid: duong lien  */
    line-height: 1.5;
}
ul{
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman';
    font-weight: normal;   
    text-transform:capitalize;/*uppercase ,lowercase, capitalize, none*/ 
    text-align :justify; 
    line-height: 1.5;
}
h7{
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman';
    font-weight:   bold;
    text-transform:capitalize;/*uppercase ,lowercase, capitalize, none*/ 
    text-align :justify; 
    line-height: 1.5;
}
p{
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman';
    font-weight:   normal;
    text-transform:none;
    text-align :justify; 
    line-height: 1.5;
}
