<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header class="section header">
        <div class="container">
            <a class="logo"> Homemade pesto pizza</a>
            <a class="reviews">4.5 from 2 reviews</a>
        </div>
    </header>
    <nav class="section nav">
        <div class="container">
            <ul>
                <li>June 12,2016</li>
                <li>Servings: 6 slices</li>
                <li>Total:20 mins</li>
                <li>Difficulty : Super Easy!</li>
                <li class="last">Print this</li>
            </ul>
        </div>
    </nav>
    <main class="section main">
        <div class="container">
            <!-- <div class="l-siderbar">

            </div>
            <div class="main-content">
                
            </div> -->
            <div class="pizza">
                <p> A great alternative to your regular pizza</p>
                <p><i><b>By: LyraThemes</b></i></p>
                <p>
                    <img src="hinhbt1.jpg"/>
            </div>
            <div class="description">
                <div class="ingredients">
                    <h2>Ingredients</h2>
                    <h4>For Crust</h4>
                    <p>1 (12inch) pre -backed pizza crust</p>
                    <p>1/2 cup pesto</p>
                    <h4>Toppongst</h4>
                    <p>1 (12inch) pre -baked pizza cru  </p>
                    <p>1/2 cup pesto</p> 
                </div>
                <div class="directions">
                    <h2>Directions</h2>
                    <ul class="steps">
                        <li class="Dong1">
                            <div class="num"> Step1</div> 
                            <div class="text">sssssssssssssssssssssssssssssssssssPreheat oven to 459 degrees F(230123 c)</div>
                        </li>
                        <li class="Dong2">
                            <div class="num2"> Step2</div> 
                            <div class="text2">sssssssssssssssssssssssssssssssssPreheat oven to 459 degrees F(132323)</div>
                        </li>
                        <li class="Dong3">
                            <div class="num3">Step3</div> 
                            <div class="text3">Preheat oven to 459 degrees F(132323)</div>
                        </li>
                        <li class="Dong4">
                            <div class="num4">Step4</div> 
                            <div class="text4">Preheat oven to 459 degrees F(132323)</div>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="section footer ">
        <div class="container">
           
        </div>
    </footer>
</body>
</html>