div{
    width: 400px;/*pit cứng kích thước */
    float: left;/* Dồn khối về 1 bên trái */
    margin: 10px; /* biên đổ giản ra giữa các khối trong thẻ div tính từ bên ngoài vào và giá trị có thể âm */
    /* margin-top: 15px;Giản biên đổ phí trên cá phí khác thì lelf right bot */
    border: 1px solid red;
    padding: 20px;/*biên độ giản ra từ viền khối đến các phần tự trong củng có top-left-bot */
    /* padding-left: ; */
    background-color: bisque;
    border-radius: 10px;/*Đừng cong cảnh của khung border*/
    transition: all 300ms;/*thời gian dịch chuyển các trạng thái của thẻ*/

}
div:hover{
    /* Khi người dùng đưa chuột vào thẻ thì mới hiện các thuộc tính trong */
    background-color:aquamarine;
    /* transform: translate(200px,-200px); di chuyển hình ảnh hộp vẫn ở đó vị trí theo top-left */
    /* transform: rotate(45deg);Xoay 45 độ */
    transform: scale(1.15); /*Zoom 1.15 lần*/
}
img{
    max-width: 100%;/*là cho kích thước của thẻ không lớn hơn kích thước thẻ chứa nó */
}
#special,#dacbiet{
    /*vẫn kế thừa tất cả các thuộc tính của thẻ div có thể thay đổi các thuộc tính bằng cách đè lên thuộc tính củ*/
    background-color: red;
}
#special:hover,#dacbiet:hover{
    /*Khi đặt id thì không còn quyền ưu tiên của thẻ div */
    background-color:rgb(127, 255, 146);

}